<style>
		table {
			border-collapse: collapse;
		}
		th, td {
			padding: 10px;
		}
		table, th, td {
			border: 1px solid;
			border-collapse: collapse;
        }
		.numeprenume {
			background-color: lightblue;
			border-style: solid;
		}
		.align-center{
			text-align:center;
		}
		h3 {
			color: darkred;
			text-decoration-line: underline;
		}
		.structuracaracteristici {
			background-color: lightyellow;
			border-style: dotted;
			border-color: red;
			padding: 10px;
		}
		#rounded-img{
		border-radius: 5px;
		padding: 10px;
		}
		img {
			border: 2px solid red;
			border-radius: 5px;
        }
		
		#slideshow-container {
            position: relative;
            width: 400px; 
            height: auto;
            overflow: hidden;
            border: 2px solid black;
        }

        #slideshow-container img {
            width: 100%;
            height: auto;
            display: block;
        }

        #trigger-image {
            cursor: pointer;
        }

        .slide {
            display: none;
            animation: fadeEffect 0.5s; 
        }

        .slide.active {
            display: block;
        }

        @keyframes fadeEffect {
            from {opacity: 0.4}
            to {opacity: 1}
        }
        
        .hidden {
            display: none !important;
        }
		
		.show {
			display: all !important;
		}
		
</style>