<style>
		table {
			border-collapse: collapse;
		}
		th, td {
			padding: 10px;
		}
		table, th, td {
			border: 1px solid;
			border-collapse: collapse;
        }
		.numeprenume {
			background-color: lightblue;
			border-style: solid;
		}
		.align-center{
			text-align:center;
		}
		h3 {
			color: darkred;
			text-decoration-line: underline;
		}
		.structuracaracteristici {
			background-color: lightyellow;
			border-style: dotted;
			border-color: red;
			padding: 10px;
		}
		#rounded-img{
		border-radius: 5px;
		padding: 10px;
		}
		img {
			border: 2px solid red;
			border-radius: 5px;
        }
</style>